<div id="contact">
	<div class="container">

		<div class="clear" ></div>

		<div class="eight columns" style="margin-top:50px; text-align:right;">

			<p ></p>
			<p style="font-size:16px; font-weight:bold; margin-right:15px;">
				Calle Agastía 32 ,28027 (Madrid)
			</p>
			<p  >
				<img src="{{asset('front/images/icons/TELEFONO.png')}}" width="40"> 91 408 70 24
			</p>
			<p >
				<img src="{{asset('front/images/icons/contacto.png')}}" width="30" style="margin-right:10px; "> info@farmagastia.com
			</p>

		</div><!-- end flexslider -->

		<div class="eight columns" style="margin-top:20px; margin-bottom:30px; text-align:center; ">
			<img src="{{asset('front/images/icons/100.png')}}" width="100" >
			<p class="footer" >
				"Más de cien años haciéndote sentir bien"
			</p>
			<p style="text-align:center" >
				Cuarta Generación de farmaceúticos
			</p>

		</div><!-- end flexslider -->

	</div>
	<!-- end container -->
	<div class="video-container">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1518.198887501117!2d-3.649227790250784!3d40.44433220131365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422f25333ba8f1%3A0x456a12bbbff0587d!2sCalle+AGASTIA%2C+32%2C+28027+Madrid!5e0!3m2!1ses!2ses!4v1405359715253"  frameborder="0" style="border:0"></iframe>
	</div>

	<div class="container">
		<div class="eight columns" style="margin-top:10px;">

			<p >
				@ 2014 Farmagastia. Web diseñada por <a style="font-weight:bold" href="http://www.realego.es" target="_blank">Realego Oficina Creativa</a>
			</p>
		</div><!-- end flexslider -->

		<div class="eight columns" style="margin-top:10px;">

			<p style="text-align:right; text-transform:uppercase;">
				<a href="index01.html">Inicio</a> / <a href="farmacia.html">La Farmacia</a> / <a href="servicios.html">Servicios</a> / <a href="tarjeta.html">Tarjeta Cliente</a> / <a href="tienda.html">Tienda On-line</a>
			</p>
		</div><!-- end flexslider -->
	</div>
</div>