{% extends "ProjectFrontBundle:Helpers:base.html.twig" %}
{%block contenido%}

		<div class="clear"></div>
				<div class="sixteen columns">
					<h4> Tarjeta Cliente </h4>
				</div>
				<div class="eight columns">

					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed pharetra nunc. Quisque tempus luctus scelerisque. Etiam ut pharetra purus. Etiam justo ligula, fringilla id vehicula quis, lacinia imperdiet quam. Vestibulum bibendum orci massa, sit amet feugiat tortor viverra id. Duis ultricies porta nibh, et luctus quam malesuada at. Cras at sem vel velit pulvinar dictum. Donec ac odio consequat, consequat enim ut, malesuada odio. In vestibulum, arcu at aliquam condimentum, justo nisl molestie tellus, dapibus venenatis est sapien condimentum urna. Etiam pulvinar eget elit eu semper. Curabitur posuere, sem a aliquet euismod, eros lectus vulputate magna, sed egestas felis magna quis nulla.
					</p>
				</div>

				<div class="eight columns">

					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed pharetra nunc. Quisque tempus luctus scelerisque. Etiam ut pharetra purus. Etiam justo ligula, fringilla id vehicula quis, lacinia imperdiet quam. Vestibulum bibendum orci massa, sit amet feugiat tortor viverra id. Duis ultricies porta nibh, et luctus quam malesuada at. Cras at sem vel velit pulvinar dictum. Donec ac odio consequat, consequat enim ut, malesuada odio. In vestibulum, arcu at aliquam condimentum, justo nisl molestie tellus, dapibus venenatis est sapien condimentum urna. Etiam pulvinar eget elit eu semper. Curabitur posuere, sem a aliquet euismod, eros lectus vulputate magna, sed egestas felis magna quis nulla.
					</p>

					<div class="clear"></div>
					<div ></div>
				</div>

				<div class="sixteen columns" style="text-align:center; width:94% ; margin-top:12px; margin-bottom:25px; ">

				</div>

				<div class="one-third column">
					<div class="image" style="margin-left:15PX;">
						<a href="#"> <img src="{{asset('front/images/articles/SEGUNDA.jpg')}}" class="scale-with-grid" alt="" /></a>

					</div>
				</div>

				<div class="one-third column">
					<div class="image" style="margin-left:15PX;">
						<a href="#"> <img src="{{asset('front/images/articles/SEGUNDA.jpg')}}" class="scale-with-grid" alt="" /></a>

					</div>
				</div>
				<div class="one-third column">
					<div class="image" style="margin-left:15PX;">
						<a href="#"> <img src="{{asset('front/images/articles/SEGUNDA.jpg')}}" class="scale-with-grid" alt="" /></a>

					</div>
				</div>

				<!-- end portfolio -->

				<div class="clear"></div>

				<div class="sixteen columns" style="text-align:center; width:94% ; margin-top:-12px; margin-bottom:15px; ">
					<img src="{{asset('front/images/icons/puntos.png')}}">
				</div>

			</div>
			
{%endblock%}