{% extends "ProjectFrontBundle:Helpers:base.html.twig" %}

{%block contenido%}

<div class="clear"></div>
				<div class="sixteen columns">
					<h4> Tienda On-line </h4>
				</div>
				<div class="eight columns">

					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed pharetra nunc. Quisque tempus luctus scelerisque. Etiam ut pharetra purus. Etiam justo ligula, fringilla id vehicula quis, lacinia imperdiet quam. Vestibulum bibendum orci massa, sit amet feugiat tortor viverra id. Duis ultricies porta nibh, et luctus quam malesuada at. Cras at sem vel velit pulvinar dictum. Donec ac odio consequat, consequat enim ut, malesuada odio. In vestibulum, arcu at aliquam condimentum, justo nisl molestie tellus, dapibus venenatis est sapien condimentum urna. Etiam pulvinar eget elit eu semper. Curabitur posuere, sem a aliquet euismod, eros lectus vulputate magna, sed egestas felis magna quis nulla.
					</p>
				</div>

				<div class="eight columns">

					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed pharetra nunc. Quisque tempus luctus scelerisque. Etiam ut pharetra purus. Etiam justo ligula, fringilla id vehicula quis, lacinia imperdiet quam. Vestibulum bibendum orci massa, sit amet feugiat tortor viverra id. Duis ultricies porta nibh, et luctus quam malesuada at. Cras at sem vel velit pulvinar dictum. Donec ac odio consequat, consequat enim ut, malesuada odio. In vestibulum, arcu at aliquam condimentum, justo nisl molestie tellus, dapibus venenatis est sapien condimentum urna. Etiam pulvinar eget elit eu semper. Curabitur posuere, sem a aliquet euismod, eros lectus vulputate magna, sed egestas felis magna quis nulla.
					</p>

					<div class="clear"></div>
					<div ></div>
				</div>

				<div class="clear"></div>

				<div class="sixteen columns" style="text-align:center; width:94% ;margin-top:32px; margin-bottom:15px; ">
					<img src="{{asset('front/images/icons/puntos.png')}}">
				</div>

				</br>
				<div class="sixteen columns" style="text-align:center; "></div>
				<div class="clear"></div>

{%endblock%}